.overview {
	margin: 0 1rem;
	padding: 3rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__links {
		display: flex;
		justify-content: center;
	}

	&__presentation {
		&__intro {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;

			& > h1 {
				padding-bottom: 2rem;
			}

			&__text {
				& > img {
					padding: 1.6rem;
					object-fit: cover;
				}
			}
		}
	}

	&__skills {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		& > h1 {
			padding-bottom: 2rem;
		}
	}

	& > a {
		margin: 2rem 0;
	}
}
