@import "../../styles/variables";

.burger {
	width: 3rem;
	height: 2rem;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	&__stick {
		width: 3rem;
		height: 0.25rem;
		background-color: $color-first;
		border-radius: 10px;
		transition: all 0.5s ease-in-out;

		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 3rem;
			height: 0.25rem;
			background-color: $color-first;
			border-radius: 10px;
			transition: all 0.5s ease-in-out;
		}

		&::before {
			transform: translateY(-12px);
		}

		&::after {
			transform: translateY(12px);
		}
	}
}

.burger--open .burger__stick {
	transform: translateX(-50px);
	background: transparent;
}

.burger--open .burger__stick {
	&::before {
		transform: rotate(45deg) translate(35px, -35px);
	}

	&::after {
		transform: rotate(-45deg) translate(35px, 35px);
	}
}

@media only screen and (min-width: 800px) {
	.burger {
		display: none;
		visibility: hidden;
	}
}
