@import "./variables";

.btn {
	border: none;
	background-color: transparent;
	padding: 0rem 0.5rem;
	font-size: $font-size-600;
	border-radius: 3rem;
	cursor: pointer;

	&:hover,
	&:focus,
	&:active {
		outline: none;
	}

	&--projects {
		background-color: $color-main;
		margin: 0.6rem;
		padding: 1.2rem;
		color: $color-white;
	}
}

.link {
	color: $color-black;
	transition: all 0.2s ease-in;
	cursor: pointer;

	&:link,
	&:visited,
	&:active {
		outline: none;
		text-decoration: none;
	}

	&:focus,
	&:hover {
		outline: none;
		text-decoration: none;
		color: $color-main;
		transform: scale(1.05);
		transition: all 0.2s ease-in-out;

		& > button.btn--projects {
			background-color: $color-main-light;
			transition: all 0.2s ease-in-out;
		}
	}

	&--contact {
		color: $color-black;
	}

	&--page {
		color: $color-white;

		&:hover,
		&:focus {
			color: $color-main;
			transform: none;
		}
	}
}

.icon {
	fill: $color-main;
	height: 2.2rem;
	width: 2.2rem;

	&:hover,
	&:focus {
		outline: none;
		fill: $color-main;
	}

	&--download {
		height: 1.6rem;
		width: 1.6rem;
		fill: $color-main;
	}

	&--footer {
		fill: $color-white;

		&:hover,
		&:focus {
			fill: $color-black;
		}
	}

	&--skill {
		height: 6rem;
		width: 6rem;
	}
}
