@import "./variables";

.link {
	color: $color-black;
	transition: all 0.2s ease-in;
	cursor: pointer;

	&:link,
	&:visited,
	&:active {
		outline: none;
		text-decoration: none;
	}
}

.icon {
	fill: $color-black;
	height: 3rem;
	width: 3rem;

	&:hover,
	&:focus {
		outline: none;
	}

	&--download {
		height: 1.6rem;
		width: 1.6rem;
	}
}
