// $main-color: #12426b;
// $maine-color-light: #5a87af;
// $main-color-dark: #0d304f;

// $main-color: #276218;
// $main-color-light: #6ea760;
// $main-color-dark: #1d4912;

$main-color: #05c2c9;
$main-color-light: #069cdb;
$main-color-dark: #01a1a7;

$color-highlight: #e31c6e;

$font-color-light: #d0d1d2;
$font-color: #ababab;
$font-color-dark: #919191;

$color-white: #f5f5f5;
$color-black: #191a1d;
$color-black-light: #383b3d;

$color-bg-light: #ffffff;
$color-bg-dark: #f6f6f6;
