@import "../../styles/variables";
@import "../../styles/typography";

.about {
	&__wrapper {
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 6rem;
		padding-bottom: 3rem;

		&__introduction {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-items: center;
			padding: 0 7.5%;

			&__my-picture {
				padding: 2rem 0;
				border-radius: 1rem;
				vertical-align: middle;
				border-style: none;
				object-fit: cover;
				max-width: 25rem;
			}
		}

		&__text {
			text-align: start;
			padding: 3rem 7.5% 0;

			&__contact {
				display: flex;
				flex-direction: column;
				align-items: start;
				margin-top: 4rem;

				& a {
					display: flex;
					align-items: center;
					margin-bottom: 1rem;
					font-size: $font-size-300;
				}

				& > h3 {
					margin-bottom: 3rem;
				}

				& h6 {
					font-weight: 500;
				}

				& .icon {
					margin-right: 1rem;
				}

				& > ul {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
				}
			}

			&__description {
				text-align: start;

				& > p {
					font-size: $font-size-300;
					margin-bottom: 1rem;
				}
			}

			&__title {
				display: flex;
				flex-direction: column;
				align-items: start;
				margin-bottom: 3rem;

				& > h2 {
					text-transform: capitalize;
					margin-bottom: 1rem;
				}

				& > h3 {
					margin-bottom: 1rem;
				}

				& span {
					color: $color-main;
				}
			}
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 2rem;
		margin-bottom: 1rem;

		& button {
			min-width: 10rem;
		}
	}
}

@media only screen and (min-width: 768px) {
	.about {
		&__wrapper {
			display: grid;
			grid-template-columns: repeat(2, minmax(10px, 1fr));
			align-items: flex-start;
			padding-top: 6rem;

			&__introduction {
				&__text {
					&__contact {
						display: flex;
						flex-direction: column;
						align-items: center;

						& a {
							display: flex;
							align-items: center;
							margin-bottom: 1rem;
						}

						& h6 {
							font-weight: 400;
							font-size: $font-size-400;
						}

						& .icon {
							margin-right: 2rem;
							width: 3rem;
							height: 3rem;
						}
					}

					&__description {
						& > p {
							font-size: $font-size-400;
						}
					}
				}
			}
		}
	}
}
