@import "../../styles/typography";
@import "../../styles/variables";

.modal {
	#view-project-btn {
		transform: translatey(10rem);

		& > * {
			color: $color-white;
		}

		& > h3 {
			font-size: $font-size-500;
			margin: 0.6rem 0;
		}

		& > p {
			font-size: $font-size-300;
		}
	}

	&__btn {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 2rem;
	}

	&__text {
		text-align: center;

		& > h2 {
			font-size: $font-size-700;
			margin: 2rem 0;
		}

		& > p {
			font-size: $font-size-300;
		}
	}

	&__links {
		display: flex;
		justify-content: center;

		& > a {
			margin: 2rem 0;

			& > button {
				margin: 1rem;
				padding: 0.3rem 0.6rem;
				font-size: $font-size-500;
			}
		}
	}

	&__technology {
		text-align: center;

		& > h2 {
			font-size: $font-size-600;
			margin: 2rem 0;
		}

		& > ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			& > li {
				margin: 0.2rem;
				padding: 0.2rem 0.5rem;
				color: $color-main;
				border-bottom: 1px solid $color-black;
			}
		}
	}
}

.ReactModal__Overlay {
	top: 2rem !important;
}

@media only screen and (min-width: 786px) {
	.ReactModal__Overlay {
		max-width: 60%;
		left: 20% !important;
	}
}
