@import "../../styles/variables";

.header {
	background-color: $main-color;
	display: flex;
	justify-content: space-between;
	margin: 2rem 1rem;
	opacity: 0.8;

	&__navigation {
		display: flex;

		&__item {
			margin: 0 1rem;
		}
	}
}
